
body {
    font-family: 'Roboto',
    sans-serif;
    margin: 0px;
    background-color: white;
    text-align: center;
}
.whitetext {
    color: white;
}
/* all detox center map page */
.App-header2 {
    color: black;
    margin-top: -50px;
    margin-bottom: 65px;
}
/* LandingPage */
.App-header {
  margin-top: 30px;
  margin-bottom: -7px;
  margin-left: -1px;
  margin-right: 0px;
}

.grayBackground{
    background-color: #444f63;
    display: inline-block;
    width: 100%;
    padding-bottom: 50px;
}

.grayBackground2 {
    background-color: #444f63;
    display: inline-block;
    width: 100%;
    padding-bottom: 5px;
     font-size: 15px;
}

.input {
    text-align: center;
    border-color: white;
    border-bottom-style: solid;

}


section {
    display: block;
}

.detoxlogo {
    padding-bottom: 30px;
}

p {
    color: white;
    font-family: 'Roboto',
    sans-serif;
    font-size: 15px;
}

.container {
    height: auto;
    width: 315px;
}
.container2 {
    height: auto;
    width: 100%;
}

.loginRegister {
    padding: 10px;
    display: inline-block;
    width: 100%;
}

/* login and register buttons */
.alignLeft {
    float:left;
  
}

.alignRight {
    float: right;
    
}


.guestProvider {
    margin: 10px;
    width: 100%;
}

.mission {
    width: 100%;
}
/*  End LandingPage */

footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

.form2 {
    text-align: center;
}


.form {
    color: black;
    width: 30%;
    height: auto;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
    text-align: center;
}


body {
    font: normal medium/1.4 sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 0.25rem;
    text-align: center;
    border: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
    background: #eee;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: navy;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.table {
    margin: 20px;
    width: 60%;
    height: auto;

}

/* register user */

#addContact{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* detox center  */

#card {
    margin: 25px;
    height: auto;
    width: 60%;
    text-align: center;
    background-color: white;
    color: black;
}

.detoxCenterBtn{
    text-align: center;
    display: inline-block;
}

.infoWindow {
     height: 150px;
     width: auto; 
}

.Button {
    width: 80%;
    
}

.buttonMargins {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 45px;
    
}

.logo {
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 15px;
    z-index: 100;
    position: absolute;
}

#map {
     z-index: 0;
}

#move {
    height: 640px;
}

.border {
      border-style: solid;
      border-width: 4px;
      border-color: #AE2F2C;
} 






